// AUTH PAGE
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fb-bg-color);
  height: 700px; //440 perfect width
  .auth-page-container {
    display: flex;
    justify-content: space-between;
    width: 976px;

    // AUTH LEFT
    .auth-left {
      margin-top: 33px;
      img {
        width: 300px;
        height: 106px;
        transform: translate(-28px, 15px);
      }
      h2 {
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
        width: 574px;
      }
    }

    // AUTH RIGHT BOX
    .auth-right {
      width: 396px;
      .auth-right-box {
        background-color: #fff;
        padding: 16px;
        border-radius: 10px;
        text-align: center;
        box-shadow: var(--fb-box-shadow);

        form {
          display: flex;
          flex-direction: column;
          gap: 12px;
          input {
            font-size: 16px;
            padding: 12px 16px;
            color: #1d2129;
            border: var(--fb-border-color);
            border-radius: 6px;
            font-weight: 300;

            &:focus {
              border: 1px solid var(--fb-primary-color);
            }
          }

          .auth-logIn {
            background: var(--fb-primary-color);
            border: none;
            color: #fff;
            font-size: 20px;
            padding: 12px 16px;
            border-radius: 6px;
            font-weight: 500;
            cursor: pointer;
          }
        }

        a {
          color: var(--fb-primary-color);
          font-size: 14px;
          margin: 18px;
          display: inline-block;

          &:hover {
            text-decoration: underline;
          }
        }
        .divider {
          border: var(--fb-border-color);
          margin-bottom: 28px;
        }
        .auth-create {
          background-color: var(--fb-secondary-color);
          border: none;
          color: #fff;
          font-size: 15px;
          padding: 12px 16px;
          border-radius: 6px;
          font-weight: 500;
          cursor: pointer;
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        margin: 30px 0;
        a {
          color: #000;
          font-size: 14px;
          font-weight: 500;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// MODAL
.modal-form-signUp {
  padding: 16px;
  .form-signUp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      padding: 10px;
      font-size: 14px;
      color: #8d949e;
      background: #f5f6f7;
      width: 100%;
      border: 1px solid #dadde1;
      border-radius: 6px;
    }
    .v-input {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    // FORM EXTRA
    .form-extra {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .form-extra-container {
        label {
          span {
            font-size: 12px;
            color: #1c1e21;
            svg {
              cursor: pointer;
            }
          }
          .form-opt {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            select {
              flex: 1;
              padding: 7px 8px;
              font-size: 15px;
              width: 100%;
              border: var(--fb-border-color);
              border-radius: 6px;
            }
          }

          // FORM EXTRA INPUT
          .form-extra-input {
            display: flex;
            gap: 10px;
            label {
              span {
                color: #1c1e21;
                font-size: 15px;
              }
              display: flex;
              justify-content: space-between;
              border: var(--fb-border-color);
              width: 100%;
              padding: 7px 8px;
              border-radius: 6px;

              input[type="radio"] {
                width: 15px;
              }
            }
          }
        }
      }
    }

    .form-text {
      display: flex;
      flex-direction: column;
      gap: 12px;
      p {
        font-size: 12px;
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    button.form-sign-up-button {
      color: #fff;
      border: none;
      background: #00a400;
      font-weight: 600;
      font-size: 18px;
      padding: 4px 0;
      width: 200px;
      margin: 0 auto;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}
